<p id="notice"><%= notice %></p>

<h1>New Message</h1>

<%= render 'form' %>

<h1>Listing Messages</h1>
<% @messages.each do |message| %>
    <hr>
    <dl>
      <dt>title</dt><dd><%= message.title %></dd>
      <dt>message</dt><dd><%= message.body %></dd>
      <dt>user</dt><dd><%= message.user.name %></dd>
    </dl>
    <% if @current_user.id == message.user.id %>
        <%= link_to 'Edit', edit_message_path(message) %>
        <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
<% end %>
